<section class="container">
    <h3 class="post-name">{{posts.text}}</h3>
    <section class="justify-right">
    {{#each posts.comments as|comments|}}
    {{>comments-details}}
    {{/each}}
    </section>
</section>